{% extends 'base.html' %}
{% load static %}
{% block temp %}



    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="{% static 'img/team.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Our Team</h2>
                        <div class="bt-option">
                            <a href="./index.html">Home</a>
                            <span>Our team</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Team Section Begin -->

    <!-- Team Section End -->

    <!-- Get In Touch Section Begin -->
    <div class="gallery-section gallery-page">
        <div class="gallery">
            <div class="grid-sizer"></div>
            <div class="gs-item grid-wide set-bg" data-setbg="{% static 'img/qax1.png' %}">
                <a href="{% static 'img/qax1.png' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="{% static 'img/qax2.png' %}">
                <a href="{% static 'img/qax2.png' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="{% static 'img/gallery/2kishi.jpg' %}">
                <a href="{% static 'img/gallery/2kishi.jpg' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="{% static 'img/abror1.png' %}">
                <a href="{% static 'img/abror1.png' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="{% static 'img/gallery/3.5.jpg' %}">
                <a href="{% static 'img/gallery/3.5.jpg' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item grid-wide set-bg" data-setbg="{% static 'img/gallery/3.6.jpg' %}">
                <a href="{% static 'img/gallery/3.6.jpg' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item grid-wide set-bg" data-setbg="{% static 'img/gallery/2.1.jpg' %}">
                <a href="{% static 'img/gallery/2.1.jpg' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="{% static 'img/gallery/ETAJ1.jpg'  %}">
                <a href="{% static 'img/gallery/ETAJ1.jpg' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="{% static 'img/gallery/topildi.jpg' %}">
                <a href="{% static 'img/gallery/topildi.jpg' %}" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
    </div>
    <!-- Get In Touch Section End -->
{% endblock %}